<a href="https://colab.research.google.com/github/WandersonClayton/data_analysis/blob/main/Bootcamp_Dev_Python_XPE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [62]:
df = pd.read_csv("/content/census.csv")
df.head()
df.shape

(32561, 15)

In [34]:
X = df.iloc[:, :-1]
X.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [29]:
y = df.iloc[:, -1]
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: income, dtype: object

In [37]:
colunas_categoricas = list(X.select_dtypes(include=['object', 'category']).columns)
print(colunas_categoricas)

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [39]:
len(colunas_categoricas)

8

In [35]:

label_encoder = LabelEncoder()

In [44]:
X[colunas_categoricas[0]] = label_encoder.fit_transform(X[colunas_categoricas[0]])
X[colunas_categoricas[1]] = label_encoder.fit_transform(X[colunas_categoricas[1]])
X[colunas_categoricas[2]] = label_encoder.fit_transform(X[colunas_categoricas[2]])
X[colunas_categoricas[3]] = label_encoder.fit_transform(X[colunas_categoricas[3]])
X[colunas_categoricas[4]] = label_encoder.fit_transform(X[colunas_categoricas[4]])
X[colunas_categoricas[5]] = label_encoder.fit_transform(X[colunas_categoricas[5]])
X[colunas_categoricas[6]] = label_encoder.fit_transform(X[colunas_categoricas[6]])
X[colunas_categoricas[7]] = label_encoder.fit_transform(X[colunas_categoricas[7]])

In [51]:
X.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5

In [52]:

scaler = StandardScaler()

In [53]:
X = scaler.fit_transform(X)

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [58]:
X_train.shape

(26048, 14)

In [59]:
X_test.shape

(6513, 14)

In [60]:
y_train.shape

(26048,)

In [61]:
y_test.shape

(6513,)

In [50]:
X_train.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country
5514,33,2,198183,9,13,4,10,1,4,0,0,0,50,39
19777,36,4,86459,8,11,2,4,0,4,1,0,1887,50,39
10781,58,6,203039,6,5,5,3,1,4,1,0,0,40,39
32240,21,4,180190,8,11,2,5,0,4,1,0,0,46,39
9876,27,4,279872,15,10,0,8,1,4,1,0,0,40,39

In [65]:
random_forest_census = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state = 0)

random_forest_census.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [70]:
# Previsões nos dados de teste ou validação
y_pred = random_forest_census.predict(X_test)

# Cálculo da acurácia
accuracy = accuracy_score(y_test, y_pred)
print(f"Acurácia: {accuracy}")

# Relatório de classificação
report = classification_report(y_test, y_pred)
print(report)

Acurácia: 0.8593582066635959
              precision    recall  f1-score   support

       <=50K       0.89      0.93      0.91      4942
        >50K       0.74      0.64      0.69      1571

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.80      6513
weighted avg       0.85      0.86      0.86      6513